body{
    background-color: rgb(19, 113, 88);
}

header{
    background-color: rgb(74, 74, 213);
    text-align: center;
    tex;
}

.menu{
    background-color: rgb(79, 100, 221);
    
    /*
    width: 20%;
    color: rgb(145, 179, 208);
    float: left;
    */
}
.opcion:hover{
    color: blue;
}

.opcion{
    color: rgb(255, 255, 255);
}

.parrafo{
    background-color: rgb(10, 10, 121);

    /*margin-right: 15%;*/
}
.parrafo2{
    background-color: rgb(203, 6, 6);
    /*margin-right: 15%;*/
}


.color1{
    background-color: rgb(74, 74, 213);
}

.imagen{
    margin-top: 5%;
}