body{
    background-color: rgb(58, 15, 15);
}

.menu{
    background-color: brown;
    margin-top: 5%;
    width: 20%;
    color: aliceblue;
    float: left;
}
.opcion:hover{
    color: blue;
}

.container{
    width: 80%;
    float: right;
    margin-top: 10%;
    color: black;
    display: flex;
    flex-wrap: wrap;
}
.parrafo{
    background-color: rgb(10, 10, 121);
    margin-right: 15%;
}
.parrafo2{
    background-color: rgb(203, 6, 6);
    margin-right: 15%;
}

